@import "main";

.connectSection {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $bgColor1;
  background-image: url("/images/bg_white_lines_left.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: -15%;

  .contentWrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    @media screen and (min-width: $xLargeDevice) {
      max-width: $contentWidth;
    }

    a {
      color: $fontColor1;
      font-weight: 300;
      line-height: 156%;
      text-decoration: none;

      &:last-child {
        font-weight: 500;
      }
    }

    .sectionHeadingBig {
      width: 100%;
      text-align: center;
    }
  }
}

.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 100px 0;

  .contentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $xLargeDevice) {
      max-width: $contentWidth;
    }

    .contactwaysWrapper {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      @media screen and (min-width: $mediumDevice) {
        flex-direction: row;
      }

      article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
        padding: 50px 20px;
        border: 1px solid $fontColor5;
        text-align: center;
        @media screen and (min-width: $largeDevice) {
          padding: 50px 50px;
          flex: 1 1 31%;
        }
        @media screen and (min-width: $xLargeDevice) {
          flex-direction: row;
          justify-content: center;
        }

        i {
          background-color: $bgColor4;
          color: $fontColor3;
          font-size: 20px;
          padding: 20px;
          border-radius: 50%;
        }

        h3 {
          font-family: $font2;
          font-size: 22px;
          font-weight: 700;
          line-height: 150%;
          margin-bottom: 16px;
        }

        p {
          font-size: 18px;
          line-height: 155%;
          cursor: pointer;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      background-color: $bgColor1;
      margin-top: 100px;
      padding: 100px 16px;
      @media screen and (min-width: $xLargeDevice) {
        padding: 100px 150px;
      }

      h3 {
        font-size: 45px;
        font-family: $font2;
        font-weight: 700;
        line-height: 122%;
        align-self: center;
        text-align: center;
        margin-bottom: 12px;
        @media screen and (min-width: $mediumDevice) {
          width: 55%;
        }
        @media screen and (min-width: $largeDevice) {
          width: 45%;
        }
      }

      .input {
        padding: 16px 24px;
        border: none;
        border-radius: 27px;
        flex-grow: 1;

        &::placeholder {
          color: $fontColor5;
          font-family: $font1;
          font-size: 16px;
        }
      }

      textarea {
        height: 160px;
        margin-bottom: 16px;
      }

      button {
        font-family: $font1;
      }
    }
  }
}

.mapSection {
  width: 100%;
  iframe {
    width: 100%;
    height: 620px;
  }
}
