@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #191919;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid black;
  padding: 16px 24px;
  border-radius: 27px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
  transition: 0.3s;
}
.button:hover {
  background-color: #191919;
  border-color: #191919;
  color: #ffffff;
}

.btnYellow {
  background-color: #f9d783;
  border-color: #f9d783;
}

.btnWhite {
  background-color: #ffffff;
}

.btnBlack {
  background-color: #191919;
  border-color: #191919;
  color: #ffffff;
}
.btnBlack:hover {
  background-color: #f9d783;
  border-color: #f9d783;
  color: #191919;
}

.btnRound {
  width: 53.5px;
  height: 53.5px;
  border-radius: 50%;
  padding: 0;
}

.sectionHeadingSmall {
  color: #f94d1c;
  font-weight: 500;
  font-size: 18px;
  align-self: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .sectionHeadingSmall {
    align-self: flex-start;
    text-align: left;
  }
}

.sectionHeadingBig {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  line-height: 120%;
  margin-top: 16px;
  align-self: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .sectionHeadingBig {
    font-size: 48px;
    align-self: flex-start;
    text-align: left;
  }
}

.socialMediaIconsWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
}
.socialMediaIconsWrapper .fa-brands {
  cursor: pointer;
}

.dotWrapper {
  display: none;
}
@media screen and (min-width: 576px) {
  .dotWrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 48px;
  }
}
.dotWrapper .fa-circle {
  font-size: 14px;
}

.showMoreBtn {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  align-self: center;
  padding: 8px 12px;
  margin-top: 48px;
}
@media screen and (min-width: 576px) {
  .showMoreBtn {
    display: none;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f0efe9;
}
header .contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px 8px 0;
}
@media screen and (min-width: 768px) {
  header .contentWrapper {
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  header .contentWrapper {
    max-width: 1320px;
  }
}
@media screen and (min-width: 1400px) {
  header .contentWrapper {
    padding: 0;
  }
}
header .contentWrapper .imgWrapper {
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 200px;
  height: 112px;
}
header .contentWrapper .imgWrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .contentWrapper .menu {
  font-size: 40px;
}
@media screen and (min-width: 768px) {
  header .contentWrapper .menu {
    display: none;
  }
}
header .contentWrapper .mobileMenu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #beebff;
  height: 100vh;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  header .contentWrapper .mobileMenu {
    display: none;
  }
}
header .contentWrapper .mobileMenu .xMenu {
  align-self: flex-end;
  font-size: 40px;
  padding: 32px 16px;
}
@media screen and (min-width: 768px) {
  header .contentWrapper .mobileMenu .xMenu {
    display: none;
  }
}
header .contentWrapper .mobileMenu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 30%;
}
header .contentWrapper .mobileMenu nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #191919;
  font-size: 22px;
  font-weight: 600;
}
header .contentWrapper .txtWrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  header .contentWrapper .txtWrapper {
    display: flex;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  header .contentWrapper .txtWrapper {
    align-self: stretch;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  header .contentWrapper .txtWrapper .topWrapper {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  header .contentWrapper .txtWrapper .topWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #dadad4;
  }
}
@media screen and (min-width: 992px) {
  header .contentWrapper .txtWrapper .topWrapper .infoWrapper {
    display: flex;
    gap: 16px;
  }
}
header .contentWrapper .txtWrapper .topWrapper .infoWrapper div {
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  header .contentWrapper .txtWrapper .topWrapper .infoWrapper div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9px;
    padding-right: 11px;
    border-right: 1px solid #dadad4;
  }
}
header .contentWrapper .txtWrapper .topWrapper .infoWrapper div.lastOne {
  border-right: none;
}
@media screen and (min-width: 992px) {
  header .contentWrapper .txtWrapper .topWrapper .infoWrapper div p {
    font-size: 15px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  header .contentWrapper .txtWrapper .bottomWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  header .contentWrapper .txtWrapper .bottomWrapper nav {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding-top: 7px;
  }
}
header .contentWrapper .txtWrapper .bottomWrapper nav a {
  text-decoration: none;
  color: #191919;
  display: flex;
  flex-direction: column;
}
header .contentWrapper .txtWrapper .bottomWrapper nav a.active {
  font-weight: 600;
}
header .contentWrapper .txtWrapper .bottomWrapper nav a:hover::after {
  content: "";
  display: block;
  border-bottom: 2px solid #191919;
  margin-top: 4px;
  width: 16px;
  align-self: center;
}
header .contentWrapper .txtWrapper .bottomWrapper .loginBtn {
  padding: 10px 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #0e1021;
  color: #ffffff;
}
footer .background {
  background-image: url("/images/bg_white_lines_right_footer.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .background .contentWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 120px 0 100px 0;
}
@media screen and (min-width: 1200px) {
  footer .background .contentWrapper {
    max-width: 1320px;
  }
}
@media screen and (min-width: 1400px) {
  footer .background .contentWrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}
footer .background .contentWrapper .logoInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: #b6b7bc;
  padding-bottom: 40px;
}
@media screen and (min-width: 992px) {
  footer .background .contentWrapper .logoInfoWrapper {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1400px) {
  footer .background .contentWrapper .logoInfoWrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}
@media screen and (min-width: 1400px) {
  footer .background .contentWrapper .logoInfoWrapper p {
    max-width: 400px;
    line-height: 162%;
  }
}
footer .background .contentWrapper .cardWrapper {
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 1400px) {
  footer .background .contentWrapper .cardWrapper {
    flex-wrap: nowrap;
    flex-grow: 1;
  }
}
footer .background .contentWrapper .cardWrapper article {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  min-width: 130px;
}
@media screen and (min-width: 576px) {
  footer .background .contentWrapper .cardWrapper article {
    flex: 1 1 45%;
  }
}
@media screen and (min-width: 992px) {
  footer .background .contentWrapper .cardWrapper article {
    flex: 1 1 20%;
  }
}
footer .background .contentWrapper .cardWrapper article h4 {
  color: #ffffff;
  margin-bottom: 18px;
}
@media screen and (min-width: 992px) {
  footer .background .contentWrapper .cardWrapper article h4 {
    margin-bottom: 24px;
  }
}
footer .background .contentWrapper .cardWrapper article a {
  text-decoration: none;
  color: #b6b7bc;
  font-weight: 500;
  padding: 8px 0;
  list-style: none;
}
@media screen and (min-width: 576px) {
  footer .background .contentWrapper .cardWrapper article a {
    white-space: nowrap;
  }
}
footer .copyright {
  width: 100%;
  border-top: 1px solid #b6b7bc;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  background-color: #0e1021;
}
footer .copyright .copyrightContentWrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap-reverse;
  width: 100%;
  max-width: 1320px;
}
@media screen and (min-width: 576px) {
  footer .copyright .copyrightContentWrapper {
    justify-content: space-between;
  }
}
footer .copyright .copyrightContentWrapper p {
  text-align: center;
  color: #b6b7bc;
  line-height: 162%;
  min-width: 250px;
}

.heroSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f0efe9;
  background-image: url("/images/bg_white_lines_left.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
}
@media screen and (min-width: 1200px) {
  .heroSection {
    align-items: center;
  }
}
.heroSection .contentWrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .heroSection .contentWrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .heroSection .contentWrapper {
    width: 100%;
    max-width: 1390px;
  }
}
.heroSection .contentWrapper .txtWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 60px 16px 80px 16px;
}
@media screen and (min-width: 768px) {
  .heroSection .contentWrapper .txtWrapper {
    padding: 90px 16px 120px 16px;
  }
}
@media screen and (min-width: 992px) {
  .heroSection .contentWrapper .txtWrapper {
    flex: 1;
    padding: 120px 16px 160px 16px;
  }
}
.heroSection .contentWrapper .txtWrapper h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  line-height: 104%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .heroSection .contentWrapper .txtWrapper h1 {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .heroSection .contentWrapper .txtWrapper h1 {
    font-size: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .heroSection .contentWrapper .txtWrapper h1 {
    font-size: 84px;
  }
}
@media screen and (min-width: 1400px) {
  .heroSection .contentWrapper .txtWrapper h1 {
    font-size: 96px;
  }
}
.heroSection .contentWrapper .txtWrapper p {
  text-align: center;
  font-size: 20px;
  line-height: 160%;
  color: #595957;
}
@media screen and (min-width: 768px) {
  .heroSection .contentWrapper .txtWrapper p {
    text-align: left;
  }
}
.heroSection .contentWrapper .txtWrapper .btnWrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .heroSection .contentWrapper .txtWrapper .btnWrapper {
    justify-content: flex-start;
  }
}
.heroSection .contentWrapper .imgWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 16px;
}
@media screen and (min-width: 992px) {
  .heroSection .contentWrapper .imgWrapper {
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  .heroSection .contentWrapper .imgWrapper {
    width: 46%;
    align-items: flex-end;
    padding-right: 0;
  }
}
.heroSection .contentWrapper .imgWrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.logoSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 80px 0;
}
@media screen and (min-width: 1200px) {
  .logoSection {
    max-width: 1320px;
  }
}
.logoSection img {
  height: 88px;
  width: 224px;
  flex-grow: 1;
}

.featuresSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 64px 5%;
  border: 1.2px solid rgba(89, 89, 87, 0.301);
}
@media screen and (min-width: 768px) {
  .featuresSection {
    padding: 80px 5%;
  }
}
@media screen and (min-width: 1200px) {
  .featuresSection {
    flex-direction: row;
    gap: 72px;
  }
}
@media screen and (min-width: 1400px) {
  .featuresSection {
    padding: 80px 100px;
    max-width: 1520px;
    gap: 100px;
  }
}
.featuresSection .txtWrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .featuresSection .txtWrapper {
    flex: 1 0 50%;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .featuresSection .txtWrapper {
    flex: 1 0 35%;
  }
}
.featuresSection .txtWrapper .learnMoreBtn {
  margin-top: 40px;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .featuresSection .txtWrapper .learnMoreBtn {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .featuresSection .txtWrapper .learnMoreBtn {
    width: 100%;
  }
}
.featuresSection .featureWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 576px) {
  .featuresSection .featureWrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.featuresSection .featureWrapper article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 24px 40px;
}
@media screen and (min-width: 576px) {
  .featuresSection .featureWrapper article {
    flex: 0 1 45%;
  }
}
@media screen and (min-width: 768px) {
  .featuresSection .featureWrapper article {
    align-items: flex-start;
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .featuresSection .featureWrapper article {
    padding: 24px 0px;
  }
}
.featuresSection .featureWrapper article i {
  font-size: 40px;
  margin-bottom: 14px;
}
.featuresSection .featureWrapper article h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
}
.featuresSection .featureWrapper article p {
  line-height: 156%;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  .featuresSection .featureWrapper article p {
    width: 90%;
  }
}

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.aboutSection .contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 100px 0;
}
@media screen and (min-width: 992px) {
  .aboutSection .contentWrapper {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutSection .contentWrapper {
    justify-content: space-between;
    margin: 120px 0;
    max-width: 1320px;
    padding: 0;
  }
}
.aboutSection .contentWrapper .txtWrapper {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .aboutSection .contentWrapper .txtWrapper {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1200px) {
  .aboutSection .contentWrapper .txtWrapper {
    flex: 0 0 40%;
  }
}
.aboutSection .contentWrapper .txtWrapper .pWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0 56px 0;
}
.aboutSection .contentWrapper .txtWrapper .pWrapper p {
  font-weight: 400;
  line-height: 200%;
}
.aboutSection .contentWrapper .txtWrapper .btnWrapper {
  display: flex;
  gap: 32px;
}
.aboutSection .contentWrapper .txtWrapper .btnWrapper .playBtnWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.aboutSection .contentWrapper .txtWrapper .btnWrapper .playBtnWrapper .playBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutSection .contentWrapper .txtWrapper .btnWrapper .playBtnWrapper .playBtn i {
  margin-left: 5px;
}
.aboutSection .contentWrapper .imgWrapper {
  position: relative;
  padding-top: 64px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .aboutSection .contentWrapper .imgWrapper {
    padding-top: 0;
    flex: 1 0 45%;
  }
}
@media screen and (min-width: 1200px) {
  .aboutSection .contentWrapper .imgWrapper {
    flex: 0 0 45%;
  }
}
.aboutSection .contentWrapper .imgWrapper .img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .aboutSection .contentWrapper .imgWrapper .img {
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media screen and (min-width: 1200px) {
  .aboutSection .contentWrapper .imgWrapper .img {
    padding-left: 56px;
  }
}
.aboutSection .contentWrapper .imgWrapper .linesOverlay {
  position: absolute;
  left: -32px;
  width: 40%;
  padding: 16px 0 0 0;
}
@media screen and (min-width: 1200px) {
  .aboutSection .contentWrapper .imgWrapper .linesOverlay {
    padding: 24px 0 0 24px;
    left: 0;
  }
}
.aboutSection .contentWrapper .imgWrapper .imgTxtWrapper {
  position: absolute;
  bottom: 2%;
  left: 2%;
  background-color: #beebff;
  max-width: 96%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media screen and (min-width: 576px) {
  .aboutSection .contentWrapper .imgWrapper .imgTxtWrapper {
    max-width: 368px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutSection .contentWrapper .imgWrapper .imgTxtWrapper {
    bottom: 40px;
    left: 0;
    padding: 30px 24px 54px 24px;
    gap: 13px;
  }
}
.aboutSection .contentWrapper .imgWrapper .imgTxtWrapper h3 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
}
.aboutSection .contentWrapper .imgWrapper .imgTxtWrapper h3 span {
  color: #f94d1c;
  font-size: 16px;
}
.aboutSection .contentWrapper .imgWrapper .imgTxtWrapper p {
  line-height: 162%;
  font-weight: 400;
}

.servicesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f0efe9;
  background-image: url("/images/bg_white_lines_right.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 100%;
}
.servicesSection .contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 80px 0;
}
@media screen and (min-width: 1200px) {
  .servicesSection .contentWrapper {
    max-width: 1320px;
  }
}
.servicesSection .contentWrapper h2 {
  max-width: 504px;
}
.servicesSection .contentWrapper .serviceWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin: 48px 0;
}
.servicesSection .contentWrapper .serviceWrapper article {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 48px 30px;
}
@media screen and (min-width: 576px) {
  .servicesSection .contentWrapper .serviceWrapper article {
    flex: 1 1 47%;
  }
}
@media screen and (min-width: 1200px) {
  .servicesSection .contentWrapper .serviceWrapper article {
    flex: 1 1 23%;
  }
}
.servicesSection .contentWrapper .serviceWrapper article:hover {
  background-color: #edcf87;
}
.servicesSection .contentWrapper .serviceWrapper article:hover .button {
  background-color: #ffffff;
  border-color: #fff;
  color: #191919;
}
.servicesSection .contentWrapper .serviceWrapper article h3 {
  line-height: 150%;
  margin-top: 34px;
}
.servicesSection .contentWrapper .serviceWrapper article p {
  line-height: 175%;
}
.servicesSection .contentWrapper .serviceWrapper article a {
  margin-top: 24px;
  align-self: flex-end;
  transition: 0;
}
.servicesSection .contentWrapper .serviceWrapper article a i {
  margin-left: 2px;
}

.whyUsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 100px 0;
}
@media screen and (min-width: 1200px) {
  .whyUsSection {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
.whyUsSection .leftWrapper {
  width: 90%;
}
@media screen and (min-width: 1200px) {
  .whyUsSection .leftWrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
}
.whyUsSection .leftWrapper .leftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .whyUsSection .leftWrapper .leftContent {
    flex: 0 1 645px;
  }
}
@media screen and (min-width: 1200px) {
  .whyUsSection .leftWrapper .leftContent {
    flex-direction: column;
    padding-left: 48px;
    padding-right: 20%;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1400px) {
  .whyUsSection .leftWrapper .leftContent {
    padding-left: 0;
  }
}
.whyUsSection .leftWrapper .leftContent .articleWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 16px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .whyUsSection .leftWrapper .leftContent .articleWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .whyUsSection .leftWrapper .leftContent .articleWrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  .whyUsSection .leftWrapper .leftContent .articleWrapper {
    gap: 40px;
  }
}
.whyUsSection .leftWrapper .leftContent .articleWrapper article {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .whyUsSection .leftWrapper .leftContent .articleWrapper article {
    flex: 1 0 45%;
  }
}
@media screen and (min-width: 1200px) {
  .whyUsSection .leftWrapper .leftContent .articleWrapper article {
    flex: 0 0 auto;
  }
}
.whyUsSection .leftWrapper .leftContent .articleWrapper article i {
  border: 1px solid #f0efe9;
  padding: 16px;
  border-radius: 50%;
}
.whyUsSection .leftWrapper .leftContent .articleWrapper article .txtWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.whyUsSection .leftWrapper .leftContent .articleWrapper article .txtWrapper h3 {
  font-family: "DM Sans", sans-serif;
  line-height: 150%;
  font-weight: 700;
}
.whyUsSection .leftWrapper .leftContent .articleWrapper article .txtWrapper p {
  color: #595957;
}
.whyUsSection .rightWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .whyUsSection .rightWrapper {
    width: 50%;
    justify-content: flex-start;
    align-self: flex-start;
    flex-grow: 0;
    padding-top: 21px;
  }
}
.whyUsSection .rightWrapper .rightContent {
  position: relative;
  width: 80%;
}
@media screen and (min-width: 992px) {
  .whyUsSection .rightWrapper .rightContent {
    flex: 0 1 645px;
    height: 100%;
  }
}
.whyUsSection .rightWrapper .rightContent img {
  width: 100%;
  z-index: 1;
}
.whyUsSection .rightWrapper .background {
  background-color: #f0efe9;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 28%;
  height: 85%;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .whyUsSection .rightWrapper .background {
    left: -22%;
    top: 28%;
    height: 85%;
    width: 122%;
  }
}
@media screen and (min-width: 1200px) {
  .whyUsSection .rightWrapper .background {
    left: -100px;
    width: calc(100% + 100px);
  }
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projectsSection .contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 40px 0 100px 0;
}
@media screen and (min-width: 1200px) {
  .projectsSection .contentWrapper {
    max-width: 1320px;
  }
}
.projectsSection .contentWrapper .sectionHeadingSmall,
.projectsSection .contentWrapper .sectionHeadingBig {
  width: 100%;
  text-align: center;
}
.projectsSection .contentWrapper .projectsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 48px 0;
}
@media screen and (min-width: 768px) {
  .projectsSection .contentWrapper .projectsWrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.projectsSection .contentWrapper .projectsWrapper article {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .projectsSection .contentWrapper .projectsWrapper article {
    flex: 1 1 47%;
  }
}
.projectsSection .contentWrapper .projectsWrapper article img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projectsSection .contentWrapper .projectsWrapper article h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 150%;
  font-size: 22px;
  flex-grow: 1;
  border-bottom: 1px solid #595957;
  padding-bottom: 16px;
}
.projectsSection .contentWrapper .projectsWrapper article a {
  font-size: 14px;
  font-weight: 500;
  line-height: 114%;
  text-decoration: none;
  color: #191919;
  align-self: flex-end;
  justify-self: flex-end;
}
.projectsSection .contentWrapper .projectsWrapper article a:hover span {
  text-decoration: underline;
}

.teamSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edcf87;
  padding: 100px 0 80px 0;
}
.teamSection .contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
@media screen and (min-width: 1200px) {
  .teamSection .contentWrapper {
    max-width: 1320px;
  }
}
.teamSection .contentWrapper .topWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .teamSection .contentWrapper .topWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.teamSection .contentWrapper .topWrapper a {
  align-self: center;
  white-space: nowrap;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .teamSection .contentWrapper .topWrapper a {
    align-self: flex-end;
  }
}
.teamSection .contentWrapper .cardWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 40px;
}
@media screen and (min-width: 576px) {
  .teamSection .contentWrapper .cardWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .teamSection .contentWrapper .cardWrapper {
    margin-top: 100px;
  }
}
@media screen and (min-width: 992px) {
  .teamSection .contentWrapper .cardWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.teamSection .contentWrapper .cardWrapper article img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.teamSection .contentWrapper .cardWrapper article h3 {
  margin-top: 24px;
}
.teamSection .contentWrapper .cardWrapper article p {
  margin-top: 12px;
}

.testimonialSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edcf87;
  padding: 0 0 100px 0;
}
.testimonialSection .background {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f0efe9;
  padding: 100px 0;
}
@media screen and (min-width: 1400px) {
  .testimonialSection .background {
    max-width: 1520px;
  }
}
.testimonialSection .background .contentWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media screen and (min-width: 1200px) {
  .testimonialSection .background .contentWrapper {
    max-width: 1320px;
  }
}
.testimonialSection .background .contentWrapper .sectionHeadingSmall,
.testimonialSection .background .contentWrapper .sectionHeadingBig {
  width: 100%;
  text-align: center;
}
.testimonialSection .background .contentWrapper .cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .testimonialSection .background .contentWrapper .cardWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }
}
.testimonialSection .background .contentWrapper .cardWrapper article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .testimonialSection .background .contentWrapper .cardWrapper article {
    flex: 1 1 47%;
  }
}
@media screen and (min-width: 992px) {
  .testimonialSection .background .contentWrapper .cardWrapper article {
    flex: 0 1 30%;
  }
}
.testimonialSection .background .contentWrapper .cardWrapper article .starWrapper {
  color: #f94d1c;
}
.testimonialSection .background .contentWrapper .cardWrapper article .reviewTxt {
  font-size: 18px;
  line-height: 188%;
}
.testimonialSection .background .contentWrapper .cardWrapper article .infoWrapper {
  display: flex;
  gap: 16px;
}
.testimonialSection .background .contentWrapper .cardWrapper article .infoWrapper img {
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.testimonialSection .background .contentWrapper .cardWrapper article .infoWrapper .txtWrapper h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}
.testimonialSection .background .contentWrapper .cardWrapper article .infoWrapper .txtWrapper p {
  color: #f94d1c;
  line-height: 175%;
}
.testimonialSection .background .contentWrapper .cardWrapper .btnWrapper {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .testimonialSection .background .contentWrapper .cardWrapper .btnWrapper {
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 1 47%;
  }
}
@media screen and (min-width: 992px) {
  .testimonialSection .background .contentWrapper .cardWrapper .btnWrapper {
    justify-content: center;
    margin-top: 32px;
  }
}

.newsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 100px 0;
}
.newsSection .contentWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media screen and (min-width: 1200px) {
  .newsSection .contentWrapper {
    max-width: 1320px;
  }
}
.newsSection .contentWrapper .topWrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .newsSection .contentWrapper .topWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.newsSection .contentWrapper .topWrapper a {
  white-space: nowrap;
  align-self: center;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .newsSection .contentWrapper .topWrapper a {
    align-self: flex-end;
  }
}
.newsSection .contentWrapper .cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .newsSection .contentWrapper .cardWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }
}
.newsSection .contentWrapper .cardWrapper article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .newsSection .contentWrapper .cardWrapper article {
    flex: 0 1 47%;
  }
}
@media screen and (min-width: 992px) {
  .newsSection .contentWrapper .cardWrapper article {
    flex: 0 1 30%;
  }
}
.newsSection .contentWrapper .cardWrapper article .imgWrapper {
  position: relative;
}
.newsSection .contentWrapper .cardWrapper article .imgWrapper .dateWrapper {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edcf87;
}
.newsSection .contentWrapper .cardWrapper article .imgWrapper .dateWrapper .date {
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  font-family: "DM Sans", sans-serif;
}
.newsSection .contentWrapper .cardWrapper article .imgWrapper .dateWrapper .month {
  color: #595957;
  line-height: 130%;
}
.newsSection .contentWrapper .cardWrapper article .imgWrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.newsSection .contentWrapper .cardWrapper article .category {
  color: #595957;
}
.newsSection .contentWrapper .cardWrapper article h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}
.newsSection .contentWrapper .cardWrapper article .txt {
  color: #595957;
  line-height: 175%;
}

.signupSection {
  background-color: #f0efe9;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background-image: url("/images/bg_grey_lines.svg");
  background-repeat: no-repeat;
  background-position-y: 80%;
  background-position-x: 100%;
}
.signupSection .contentWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media screen and (min-width: 1200px) {
  .signupSection .contentWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1320px;
  }
}
.signupSection .contentWrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
@media screen and (min-width: 576px) {
  .signupSection .contentWrapper form {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .signupSection .contentWrapper form {
    margin: 0;
  }
}
.signupSection .contentWrapper form input {
  padding: 16px 24px;
  border: none;
  border-radius: 27px;
  flex-grow: 1;
  min-width: 300px;
}
@media screen and (min-width: 576px) {
  .signupSection .contentWrapper form input {
    max-width: 400px;
  }
}
.signupSection .contentWrapper form input::-moz-placeholder {
  color: #b6b7bc;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.signupSection .contentWrapper form input::placeholder {
  color: #b6b7bc;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.signupSection .contentWrapper form button {
  align-self: center;
}