@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #191919;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #f0efe9;
  border: 1px solid black;
  padding: 16px 24px;
  border-radius: 27px;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #191919;
}

.btnYellow {
  background-color: #f9d783;
  border-color: #f9d783;
}

.btnWhite {
  background-color: #ffffff;
}

.btnBlack {
  background-color: #191919;
  border-color: #191919;
  color: #ffffff;
}

.btnRound {
  width: 53.5px;
  height: 53.5px;
  border-radius: 50%;
  padding: 0;
}

.sectionHeadingSmall {
  color: #f94d1c;
  font-weight: 500;
  font-size: 18px;
  align-self: flex-start;
}

.sectionHeadingBig {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  line-height: 120%;
  margin-top: 16px;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .sectionHeadingBig {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .sectionHeadingBig {
    font-size: 48px;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f0efe9;
}
header .contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px 8px 0;
}
@media screen and (min-width: 768px) {
  header .contentWrapper {
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  header .contentWrapper {
    max-width: 1320px;
    padding: 0;
  }
}
header .contentWrapper .imgWrapper {
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 200px;
  height: 112px;
}
header .contentWrapper .imgWrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 768px) {
  header .contentWrapper .menu {
    display: none;
  }
}
header .contentWrapper .txtWrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  header .contentWrapper .txtWrapper {
    display: flex;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  header .contentWrapper .txtWrapper {
    align-self: stretch;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  header .contentWrapper .txtWrapper .topWrapper {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  header .contentWrapper .txtWrapper .topWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #dadad4;
  }
}
@media screen and (min-width: 992px) {
  header .contentWrapper .txtWrapper .topWrapper .infoWrapper {
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 992px) {
  header .contentWrapper .txtWrapper .topWrapper .infoWrapper div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9px;
    padding-right: 11px;
    border-right: 1px solid #dadad4;
  }
}
header .contentWrapper .txtWrapper .topWrapper .infoWrapper div.lastOne {
  border-right: none;
}
@media screen and (min-width: 992px) {
  header .contentWrapper .txtWrapper .topWrapper .infoWrapper div p {
    font-size: 15px;
    font-weight: 400;
  }
}
header .contentWrapper .txtWrapper .topWrapper .socialMediaIconsWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  header .contentWrapper .txtWrapper .bottomWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  header .contentWrapper .txtWrapper .bottomWrapper nav {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding-top: 7px;
  }
}
header .contentWrapper .txtWrapper .bottomWrapper nav a {
  text-decoration: none;
  color: #191919;
  display: flex;
  flex-direction: column;
}
header .contentWrapper .txtWrapper .bottomWrapper nav a.active {
  font-weight: 600;
}
header .contentWrapper .txtWrapper .bottomWrapper nav a:hover::after {
  content: "";
  display: block;
  border-bottom: 2px solid #191919;
  margin-top: 4px;
  width: 16px;
  align-self: center;
}
header .contentWrapper .txtWrapper .bottomWrapper .loginBtn {
  padding: 10px 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .heroSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f0efe9;
  background-image: url("/images/bg_white_lines_left.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
}
@media screen and (min-width: 1200px) {
  main .heroSection {
    align-items: center;
  }
}
main .heroSection .contentWrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  main .heroSection .contentWrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  main .heroSection .contentWrapper {
    width: 100%;
    max-width: 1390px;
  }
}
main .heroSection .contentWrapper .txtWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 60px 16px 80px 16px;
}
@media screen and (min-width: 768px) {
  main .heroSection .contentWrapper .txtWrapper {
    padding: 90px 16px 120px 16px;
  }
}
@media screen and (min-width: 992px) {
  main .heroSection .contentWrapper .txtWrapper {
    flex: 1;
    padding: 120px 16px 160px 16px;
  }
}
main .heroSection .contentWrapper .txtWrapper h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  line-height: 104%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  main .heroSection .contentWrapper .txtWrapper h1 {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  main .heroSection .contentWrapper .txtWrapper h1 {
    font-size: 72px;
  }
}
@media screen and (min-width: 1200px) {
  main .heroSection .contentWrapper .txtWrapper h1 {
    font-size: 84px;
  }
}
@media screen and (min-width: 1400px) {
  main .heroSection .contentWrapper .txtWrapper h1 {
    font-size: 96px;
  }
}
main .heroSection .contentWrapper .txtWrapper p {
  text-align: center;
  font-size: 20px;
  line-height: 160%;
  color: #595957;
}
@media screen and (min-width: 768px) {
  main .heroSection .contentWrapper .txtWrapper p {
    text-align: left;
  }
}
main .heroSection .contentWrapper .txtWrapper .btnWrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  main .heroSection .contentWrapper .txtWrapper .btnWrapper {
    justify-content: flex-start;
  }
}
main .heroSection .contentWrapper .imgWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 16px;
}
@media screen and (min-width: 992px) {
  main .heroSection .contentWrapper .imgWrapper {
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  main .heroSection .contentWrapper .imgWrapper {
    width: 46%;
    align-items: flex-end;
    padding-right: 0;
  }
}
main .heroSection .contentWrapper .imgWrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .logoSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 80px 0;
}
@media screen and (min-width: 1200px) {
  main .logoSection {
    max-width: 1320px;
  }
}
main .logoSection img {
  height: 88px;
  width: 224px;
  flex-grow: 1;
}
main .featuresSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 64px 5%;
  border: 1.2px solid rgba(89, 89, 87, 0.301);
}
@media screen and (min-width: 768px) {
  main .featuresSection {
    padding: 80px 5%;
  }
}
@media screen and (min-width: 1200px) {
  main .featuresSection {
    flex-direction: row;
    gap: 72px;
  }
}
@media screen and (min-width: 1400px) {
  main .featuresSection {
    padding: 80px 100px;
    max-width: 1520px;
    gap: 100px;
  }
}
main .featuresSection .txtWrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  main .featuresSection .txtWrapper {
    flex: 1 0 50%;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  main .featuresSection .txtWrapper {
    flex: 1 0 35%;
  }
}
main .featuresSection .txtWrapper .learnMoreBtn {
  margin-top: 40px;
}
main .featuresSection .featureWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 576px) {
  main .featuresSection .featureWrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
main .featuresSection .featureWrapper article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px 40px;
}
@media screen and (min-width: 576px) {
  main .featuresSection .featureWrapper article {
    flex: 0 1 45%;
  }
}
@media screen and (min-width: 992px) {
  main .featuresSection .featureWrapper article {
    padding: 24px 0px;
  }
}
main .featuresSection .featureWrapper article i {
  font-size: 40px;
  margin-bottom: 14px;
}
main .featuresSection .featureWrapper article h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
}
main .featuresSection .featureWrapper article p {
  line-height: 156%;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  main .featuresSection .featureWrapper article p {
    width: 90%;
  }
}
main .aboutSection .contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 80px 0;
}
@media screen and (min-width: 576px) {
  main .aboutSection .contentWrapper {
    padding: 0 5%;
  }
}
@media screen and (min-width: 992px) {
  main .aboutSection .contentWrapper {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  main .aboutSection .contentWrapper {
    justify-content: space-between;
    margin: 120px 0;
    max-width: 1320px;
  }
}
main .aboutSection .contentWrapper .txtWrapper {
  width: 90%;
}
@media screen and (min-width: 992px) {
  main .aboutSection .contentWrapper .txtWrapper {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1200px) {
  main .aboutSection .contentWrapper .txtWrapper {
    flex: 0 0 40%;
  }
}
main .aboutSection .contentWrapper .txtWrapper .pWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0 56px 0;
}
main .aboutSection .contentWrapper .txtWrapper .pWrapper p {
  font-weight: 400;
  line-height: 200%;
}
main .aboutSection .contentWrapper .txtWrapper .btnWrapper {
  display: flex;
  gap: 32px;
}
main .aboutSection .contentWrapper .txtWrapper .btnWrapper .playBtnWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
main .aboutSection .contentWrapper .txtWrapper .btnWrapper .playBtnWrapper .playBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .aboutSection .contentWrapper .txtWrapper .btnWrapper .playBtnWrapper .playBtn i {
  margin-left: 5px;
}
main .aboutSection .contentWrapper .imgWrapper {
  position: relative;
  padding-top: 64px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  main .aboutSection .contentWrapper .imgWrapper {
    padding-top: 0;
    flex: 1 0 45%;
  }
}
@media screen and (min-width: 1200px) {
  main .aboutSection .contentWrapper .imgWrapper {
    flex: 0 0 45%;
  }
}
main .aboutSection .contentWrapper .imgWrapper .img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  main .aboutSection .contentWrapper .imgWrapper .img {
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media screen and (min-width: 1200px) {
  main .aboutSection .contentWrapper .imgWrapper .img {
    padding-left: 56px;
  }
}
main .aboutSection .contentWrapper .imgWrapper .linesOverlay {
  position: absolute;
  display: none;
}
@media screen and (min-width: 768px) {
  main .aboutSection .contentWrapper .imgWrapper .linesOverlay {
    display: block;
    left: -32px;
    padding: 16px 0 0 0;
  }
}
@media screen and (min-width: 992px) {
  main .aboutSection .contentWrapper .imgWrapper .linesOverlay {
    padding: 16px 0 0 0;
  }
}
@media screen and (min-width: 1200px) {
  main .aboutSection .contentWrapper .imgWrapper .linesOverlay {
    padding: 24px 0 0 24px;
    left: 0;
  }
}
main .aboutSection .contentWrapper .imgWrapper .imgTxtWrapper {
  position: absolute;
  bottom: 2%;
  left: 2%;
  background-color: #beebff;
  max-width: 96%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media screen and (min-width: 576px) {
  main .aboutSection .contentWrapper .imgWrapper .imgTxtWrapper {
    max-width: 368px;
  }
}
@media screen and (min-width: 1200px) {
  main .aboutSection .contentWrapper .imgWrapper .imgTxtWrapper {
    bottom: 40px;
    left: 0;
    padding: 30px 24px 54px 24px;
    gap: 13px;
  }
}
main .aboutSection .contentWrapper .imgWrapper .imgTxtWrapper h3 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
}
main .aboutSection .contentWrapper .imgWrapper .imgTxtWrapper h3 span {
  color: #f94d1c;
  font-size: 16px;
}
main .aboutSection .contentWrapper .imgWrapper .imgTxtWrapper p {
  line-height: 162%;
  font-weight: 400;
}
main .servicesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f0efe9;
  background-image: url("/images/bg_white_lines_right.svg");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 100%;
}
@media screen and (min-width: 1200px) {
  main .servicesSection {
    align-items: center;
  }
}
main .servicesSection .contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 80px 0;
}
@media screen and (min-width: 1200px) {
  main .servicesSection .contentWrapper {
    max-width: 1320px;
  }
}
main .servicesSection .contentWrapper h2 {
  max-width: 504px;
}
main .servicesSection .contentWrapper .serviceWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin: 48px 0;
}
main .servicesSection .contentWrapper .serviceWrapper article {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 48px 30px;
}
@media screen and (min-width: 576px) {
  main .servicesSection .contentWrapper .serviceWrapper article {
    flex: 1 1 47%;
  }
}
@media screen and (min-width: 1200px) {
  main .servicesSection .contentWrapper .serviceWrapper article {
    flex: 1 1 23%;
  }
}
main .servicesSection .contentWrapper .serviceWrapper article:hover {
  background-color: #edcf87;
}
main .servicesSection .contentWrapper .serviceWrapper article:hover .button {
  background-color: #ffffff;
  border-color: #fff;
  color: #191919;
}
main .servicesSection .contentWrapper .serviceWrapper article h3 {
  line-height: 150%;
  margin-top: 34px;
}
main .servicesSection .contentWrapper .serviceWrapper article p {
  line-height: 175%;
}
main .servicesSection .contentWrapper .serviceWrapper article a {
  margin-top: 24px;
  align-self: flex-end;
}
main .servicesSection .contentWrapper .serviceWrapper article a i {
  margin-left: 2px;
}